.category{
    height: 350px;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}
.category__container {
    position: relative;
    margin-top: -10%;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    max-width: 1600px;
    gap: 20px;
    margin-right: auto;
    margin-left: auto;
    place-items: center;
} 
.category img {
  max-height: 230px;
  width: 100%;
  object-fit: contain;

}
