*{
    padding: 0;
    margin: 0;
}
.fixed {
    position: sticky;
    top: 0;
    z-index: 100;
}



.header__container{
    background-color: #101010;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    height: 60px;
}
.logo__container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
}
.logo__container img{
    width: 40%;
    padding-top: 5px;
    margin-left: 20px;
    vertical-align: middle;
    
}
.delivery p{
    font-size: 10px;
}
.delivery{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    padding: 5px;

}

/* ************* */

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    flex: 1;
    color: #101010;
}

.search input{
    padding: 10px;
    font-weight: bold;
    outline: 1px solid white;
}
.search select{
    border: none;
    padding: 11.1px;
    background-color: rgb(212, 212, 212);
}
.search input {
    border: 1px solid white;
    width: 100%;
    margin-right: -2px;
}
.search svg {
    padding: 7px;
    background-color: #d49644;
}
.search:focus-within {
    border: 2px solid rgb(235, 161, 173);
}
.search svg:hover{
    cursor: pointer;
}
.order__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 450px;
    gap: 10px;
}
.order__container a {
    text-decoration: none;
    color: white;
}
.order__container p{
    font-size: 10px;
}

.language {
    width: 100px;
    display: flex;
    padding: 10px;
}
.language select {
    background-color: #1a1a1a;
    border: none;
    color: white;
}
.language img {
    background-color: #1a1a1a;
    width: 40%;
   
}
.cart {
    position: relative;
}
.cart span {
    position: absolute;
    font-weight: bold;
    top: -6px;
    font-size: 20px;
    background-color: #1a1a1a;
    left: 14px;
    color: orange;
}
.language a span {
    position: absolute;
    font-weight: bold;
    top: 0px;
    font-size: 20px;
    background-color: black;
    left: 16px;
    color: orange;
}

.order__container a:hover,
.delivery:hover,
.logo__container a:hover,
.logo__container ul li:hover{
    border: 1px solid white;
    border-radius: 3px;
}

/****Lower Container***/

.lower__container{
    background: #232f3e;
    color: white;
    border: 1px solid rgb(21, 18, 18);
    padding-top: 8px;
    padding-bottom: 8px;
    
} 
.lower__container ul {
    margin: 0;
    display: flex;
    list-style: none;
    gap: 25px;
    /* text-align: center;*/
    position: relative;
top: 50%;
transform: translateY(25%);
 } 
.lower__container ul li {
    
    padding: 5px;
    transform: translateY(-25%);

   
    
}
.lower__container ul li:first-child {
    display: flex;
    gap: 2px;
    align-items: center;
    position: relative;
    bottom: 50%;
    transform: translateY(-25%);
    padding-left: 20px;

 }  
 .lower__container  a:hover,
 .delivery:hover,
 .lower__container a:hover,
 .lower__container ul li:hover{
     border: 1px solid white;
     border-radius: 3px;
 }
 

@media screen and (max-width: 576px){
    .header__container{
        display: flex;
        flex-direction: column !important;
        height: auto;
    }
    .lower__container ul li:not(:first-child){
        display: none;
    }
    .language {
        display: none;
    }
}